nav.navbar {
    background-color: #00ffff85;
}
.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    z-index: 9999; /* Ensure it's above other content */
}

.alert {
    /* Add any additional styles you want for your alerts here */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
