{% extends 'base.html' %}
{% block content  %}
<h1>Add Pathologist</h1>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class='row'>
        <div class="col-md-3">
            <div class="form-group">
                <label for="d_id">DoctorCode :</label>
                <input type="text" class="form-control" id="d_id" value={{key}} name='d_id' required readonly>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="d_name">DoctorName :</label>
                <input type="text" class="form-control" id="d_name"  name='docname' required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="q_name">Qualification :</label>
                <input type="text" class="form-control" id="q_name"  name='qualification' required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="spec">Specialization :</label>
                <input type="text" class="form-control" id="spec"  name='spec' required>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="address">Address :</label>
                <input type="text" class="form-control" id="address"  name='address' required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="mob">Mobile :</label>
                <input type="tel" class="form-control" id="mob" pattern="[0-9]{10}" name='mobile' required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="sig">Signature :</label>
                <input type="file" accept=".jpg, .jpeg, .png" class="form-control" id="sig"  name='signature' required>
            </div>
        </div>
    </div>
    <center>
        <input type="submit" value="save" class="btn btn-primary">&nbsp;&nbsp;
        <input type="reset" class="btn btn-primary" value="clear">
    </center>
    </form>
</div>
{% endblock %} 