{% extends 'base.html' %}
{% block content %}
<h3>Add report</h3>
<div class='container'>
    <form action="" method="post">
        {% csrf_token %}
    <div class="row">
        <div class='col-md-3'>
            <div class="form-group">
                <label for="{{ form.Reportcode.id_for_label }}">Code :</label>
                {{form.Reportcode}}
            </div>
        </div>
        <div class='col-md-3'>
            <div class="form-group">
                <label for="{{ form.ReportName.id_for_label }}">Name :</label>
                {{form.ReportName}}
            </div>
        </div>
    </div>
    <br><br>
    <div class='row'>
        <div class='col-md-offset-2 col-md-8 col-md-offset-2'>
            <div class="form-group">
                {{form.media}}
                {{form.Template}} 
            </div>
        </div>
        
    </div>
    <center><input type="submit" class="btn btn-primary" value="save"></center>
    </form>
</div>
{% endblock %}