{% extends 'base.html' %}
{% block title %}RefDr Master{% endblock %}
{% block content %}
<div class="row">
    <div class='col-md-3'>
        <h3>RefDr Master</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <form action=""></form>
        <div class="col-md-3">

            <div class="form-group">
                <label for="from">DoctorName : </label>
                <input type="text" class="form-control" id="from">
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="to">DoctorCode : </label>
                <input type="text" class="form-control" id="to">
            </div>
        </div>
        <div class="col-md-2">
            <a href=""><button class='btn btn-primary'>Search
            </button></a>
        </div>
        <div class="col-md-2">
            <a href=""><button class='btn btn-primary'>Add
                Refdr</button></a>
        </div>
        </form>
    </div>

</div>

</div>

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>UHID</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Patient Name</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>Age</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>RefDr</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in key %}
                <tr>
                    <td>{{detail.uhid}}</td>
                    <td>{{detail.dob}}</td>
                    <td>{{detail.title}}</td>
                    <td>{{detail.patientname}}</td>
                    <td>{{detail.gender}}</td>
                    <td>{{detail.dob}}</td>
                    <td>{{detail.age}}</td>
                    <td>{{detail.mobile}}</td>
                    <td>{{detail.email}}</td>
                    <td>{{detail.refdr}}</td>
                    <td><a href=''><span class="glyphicon glyphicon-plus">&nbsp;</span></a>
                        <a href="{% url 'deletepatient' pid=detail.uhid %}"><span
                                class="glyphicon glyphicon-trash">&nbsp;</span></a>
                        <a href="{% url 'editpatient' pid=detail.uhid %}"><span
                                class="glyphicon glyphicon-edit">&nbsp;</span></a>
                        <a href="{% url 'qrcode' pid=detail.uhid %}"><span
                                class="glyphicon glyphicon-qrcode">&nbsp;</span></a>
                        <a href="{% url 'barcode' pid=detail.uhid %}"><span
                                class="glyphicon glyphicon-barcode">&nbsp;</span></a>
                        <a href=''> <span class="glyphicon glyphicon-save-file">&nbsp;</span></a>
                        <a href=''> <span class="glyphicon glyphicon-print">&nbsp;</span></a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock%}