{% extends 'base.html' %}
{% block title %}RefDr Master{% endblock %}
{% block content %}
<div class="row">
    <div class='col-md-3'>
        <h3>RefDr Master</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <form action="" method="post">
            {% csrf_token %}
        <div class="col-md-3">

            <div class="form-group">
                <label for="from">DoctorName : </label>
                <input type="text" class="form-control" id="from" name="name">
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="to">DoctorCode : </label>
                <input type="text" class="form-control" id="to" name="code">
            </div>
        </div>
        <div class="col-md-2">
            <br>
            <input type="submit" class='btn btn-primary addpatient-btn' value="Search">
        </div>
        <div class="col-md-2">
            <br>
            <a href="{% url 'addrefdr' %}"><button class='btn btn-primary addpatient-btn'>Add
                Refdr</button></a>
        </div>
        </form>
    </div>

</div>

</div>

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>DoctorCode</th>
                    <th>DoctorName</th>
                    <th>Qualification</th>
                    <th>Specification</th>
                    <th>Address</th>
                    <th>Mobile</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in keys %}
                <tr>
                    <td>{{detail.Doctorcode}}</td>
                    <td>{{detail.DoctorName}}</td>
                    <td>{{detail.Qualification}}</td>
                    <td>{{detail.Specialization}}</td>
                    <td>{{detail.Address}}</td>
                    <td>{{detail.Mobile}}</td>
                    <td>
                        <a href="{% url 'delete_refdr' docid=detail.Doctorcode %}"><span
                                class="glyphicon glyphicon-trash">&nbsp;</span></a>
                        <a href="{% url 'edit_refdr' docid=detail.Doctorcode %}"><span
                                class="glyphicon glyphicon-edit">&nbsp;</span></a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock%}